<h3>thank you for your booking</h3>
<%= simple_form_for [@tux, @booking] do |f| %>
  <%= f.association :tux, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :date_rented %>
  <%= f.input :date_returned %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
