<div class="border-bottom">
  <div class = "d-flex justify-content-between align-items-center container p-3">
    <p>My Bookings</p>
    <h1>Turbo Tux</h1>
    <p>User Account</p>
  </div>
</div>


<div class="container-index">
<div class="card-grid">
  <% @tuxes.each do |tux| %>
      <%= link_to tux_path(tux) do %>
        <div class= “tux-card” >
          <div class=“tux-card-content”>
            <div class=“tux-card-title”>
              <h1><%= tux.name %></h1>
            </div>
            <h2><%= tux.price %>0</h2>
            <br>
            <p><%= tux.description.truncate(120)%>...</p>
            <br>
          <div class=“tux-card-image” >
            <%= image_tag 'fabio_tux.jpg' %>
          </div>
          </div>
       </div> 
    <%end %>
  <% end %>
</div>
</div>





