<div>
<h1>
  Turbo Tux
</h1>
</div>


<%= image_tag 'fabio_black.jpg' %>


<div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

<h2><%= @tux.description %></h2>
<h3><%= @tux.price %></h3>

<div>
<%= link_to "Rent Now", new_booking_path, class: "btn btn-danger" %>
<%= link_to 'Back to homepage', tuxes_path, class: "btn btn-danger" %>
</div>
