<div class="border-bottom">
  <div class = "d-flex justify-content-between align-items-center container p-3">
    <%= link_to "Add a Turbo Tux", new_tux_path %>
    <h1>Turbo Tux</h1>
    <p>User Account</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'fabio_black.jpg' %>
    </div>
    <div class="col">
      <h2><%= @tux.description %></h2>
      <h3>€<%= @tux.price %>0 </h3>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <br>
      <br>

      <%#= link_to "Rent Now", new_booking_path, class: "btn btn-danger btn-lg" %>
      <br>
      <%= simple_form_for [@tux, @booking] do |f| %>
        <%#= f.association :tux, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
        <%= f.input :date_rented %>
        <%= f.input :date_returned %>
        <%#= f.input :date_rented, as: :bootstrap_datepicker %>
        <%#= f.input :date_returned, as: :bootstrap_datepicker %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
      <br>
      <%= link_to 'Back to homepage', tuxes_path, class: "btn btn-outline-danger btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <br>
    </div>
  </div>
</div>
