
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'fabio_black.jpg', style: "border-radius: 10%; box-shadow: 0 0 300px 0 rgb(191,0,0);"%>
    </div>
    <div class="col">
      <h2><%= @tux.name %></h2>
      <h2>€<%= @tux.price %>0 </h2>
      <h3><%= @tux.description %></h3>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <br>
      <br>

      <% if @tux.user == current_user %>
      <%= link_to "Delete #{@tux.name}",
	     tux_path(@tux),
	     method: :delete,
	     data: { confirm: "Are you sure" } %>
      <% end %>
      
      <%= simple_form_for [@tux, @booking] do |f| %>
      <%= f.input :date_rented, label: "Rental Date" %>
      <%= f.input :date_returned, label: "Return Date" %>
      <%= f.button :submit, class: "btn btn-danger btn-lg" %>
      <% end %>
      <br>
      <%= link_to 'Back to homepage', tuxes_path, class: "btn btn-outline-danger btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <br>
    </div>
  </div>
</div>
